body{
    background-image: url(6412173.jpg);
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.imgUnivali {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
    .imgUnivali {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 180px;
        height: auto; /* Mantém a proporção original */
        
    }
}

.container {
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 100vh; /* Utiliza toda a altura da viewport */
    margin: 0;
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    
}

.glass-background{
    background: rgba(247, 240, 240, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    color: rgb(25, 25, 26);
}

.button {
    font-size: 20px;
    background-color: rgb(37, 39, 187);
    color: white;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    display: block;
    margin: 10%;

    
}

.buttonContainer {
    display: flex;
    
}


    @media only screen and (max-width: 768px) {

        nav.menu-lateral {
            width: 100%;
            height: auto;
            position: relative;
            padding: 20px 0;
        }
    
        nav.menu-lateral:hover {
            width: 100%;
        }

        nav.menu-lateral {
            display: none;
        }
}

.qtd,
.itemName,
.unidadeMedida,
.price,
.dataValidade,
.dataFabricacao{
    border-radius: 7px;
    font-size: 20px;
    padding-left: 10px;
    height: 1.4em;
    background-color: rgb(205, 207, 209);
}

.unidadeMedida{
    width: 22%; /* Define a largura em relação ao elemento pai */
    height: 1.8em;
}

.qtd{
    width: 20%; /* Define a largura em relação ao elemento pai */
}

.price{
 width: 20%;
}

.radio{
    width: 1.5em;
    height: 1.3em;
    background-color: rgb(205, 207, 209);
}

#dataValidadeContainer{
    display: none;
}

nav.menu-lateral {
    width: 120px;
    height: 100vh;
    background-color: #000000cb;
    padding: 30vh 0 0 0.01%;
    box-shadow: 3px 0 0 rgb(37, 39, 187);

    position: fixed;
    top: 0;
    left: 0;

    overflow: hidden;
    transition: 0.4s;

    opacity: 0.9;
}

nav.menu-lateral:hover {
    width: 400px;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.5s;
}

ul li.item-menu:hover {
    background-color: rgb(37, 39, 187)
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 5% 10px 15px;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a:hover {
    color: white;
    
    font-weight: bolder;
}

ul li.item-menu a .txt-link {
    margin-left: 35px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}



