.records{
    width: 100%;
    user-select: none;
    text-align: left;
}

.records th{
    height: 50px;
    background-color: rgb(37, 39, 187);
    color: rgb(255, 255, 255);
    padding-left: 20px;
    font-size: 1rem;    
}
.records td{
    height: 50px;
    padding-left: 20px;
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 140px;
    text-align: center;
}

.records tr:hover{
    background-color: rgb(37, 39, 187);
    color: white;
}

.btnDelete{
    background-color: red;
    color: white;
    width: 4em;
    height: 3em;
    border-radius: 8px;
}

.btnEdit{
    background-color: green;
    color: white;
    margin-right: 10px;
    width: 4em;
    height: 3em;
    border-radius: 8px;
}


@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.726);
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

    .records tr:hover{
        background-color: inherit;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}