body{
    background-image: url(background.jpg);
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.imgUnivali {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
    .imgUnivali {
        margin-top: 30px;
        margin-bottom: 20px;
        width: 180px;
        height: auto; /* Mantém a proporção original */
        
    }
}

.container {
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 100vh; /* Utiliza toda a altura da viewport */
    margin: 0;
    display: flex;
    flex-direction: column; /* Empilha os itens verticalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    
}

.glass-background{
    background: rgba(247, 240, 240, 0.29);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    color: rgb(25, 25, 26);
}

.qtd,
.itemName,
.unidadeMedida,
.price,
.dataValidade,
.dataFabricacao{
    border-radius: 7px;
    font-size: 20px;
    padding-left: 10px;
    height: 1.4em;
    background-color: rgb(205, 207, 209);
}

.unidadeMedida{
    width: 22%; /* Define a largura em relação ao elemento pai */
    height: 1.8em;
}

.qtd{
    width: 20%; /* Define a largura em relação ao elemento pai */
}

.price{
 width: 20%;
}

.radio{
    width: 1.5em;
    height: 1.3em;
    background-color: rgb(205, 207, 209);
}

#dataValidadeContainer{
    display: none;
}



